{
    "version" : "1",
    "translator" : "LibreTranslate",
    "LibreTranslate" : {
        "url" : "https://translate.argosopentech.com/",
        "requireKey" : False,
        "apiKey" : "",
    },
    "MicrosoftTranslator" : {
        "url" : "https://api.cognitive.microsofttranslator.com/",
        "apiKey" : "",
        "location" : "global",
    },
    "translation" : {
        "defaultTargetLanguage" : "en",
        "languagePairs": {
            "source" : ["en"],
            "target" : ["ru"],
        },
        "override" : {
            "defaultSource" : "auto",
            "defaultTarget" : "ru",
        },
    },
    "delNewLines" : {
        "saveNewLinesAfterSpecialSymbols" : True,
        "specialSymbols" : [":", ".", "。", "．", "… ", "!", "！", "‼", "?", "？", "："],
    },
    "format" : {
        "delEmptyLines" : True,
        "delNewLines" : False,
        "delSpaces" : False,
    },
    "gormat" : {
        "delEmptyLines" : False,
        "delNewLines" : True,
        "delSpaces" : True,
    },
    "macro" : {
        "runPaste" : True,
        "runFormat" : True,
        "runGormat" : False,
        "runYank" : False,
        "showWindow" : True,
    },
    "nacro" : {
        "runPaste" : True,
        "runFormat" : True,
        "runGormat" : False,
        "runYank" : True,
        "showWindow" : False,
    },
    "visuals" : {
        "borderRadius" : "8px",
        "background" : "#282a36",
        "textBackground" : "#44475a",
        "text" : "#f8f8f2",
        "buttonText" : "#bd93f9",
        "buttonHover" : "#f8f8f2",
        "buttonClicked" : "#ff5555",
        "normalMode" : "#bd93f9",
        "editInputMode" : "#ff5555",
        "editOutputMode" : "#ff79c6",
    },
    "global" : {
        "paste" :{
            "shortcut" : "Ctrl+Shift+P",
            "enabled" : True,
        },
        "macro" : {
            "shortcut" : "Ctrl+Shift+M",
            "enabled" : True,
        },
        "nacro" : {
            "shortcut" : "Ctrl+Shift+N",
            "enabled" : True,
        }
    },
}